@font-face { 
    font-family: "Avenir Light";
    src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot");
    src: url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.eot?#iefix")
    format("embedded-opentype"),url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff2")
    format("woff2"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.woff")
    format("woff"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.ttf")
    format("truetype"), url("//db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light")
    format("svg");
    }

.container{
display: flex;
width: 100vw;
height: 100vh;

}

.login {
min-width: 400px;
white-space: nowrap;
overflow: hidden;
flex: 3;
z-index: 2;
box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);;
background: rgb(231, 221, 213);
display: inline-block;

}
